.box{
  &__topLine{
    display: block;
    height: 3px;
    width: 100%;
    background-color: #e44d3a;
  }
  &__newPost{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    border: 1px solid #e6e4e4;
    background-color: #ffffff;
    margin-bottom: 20px;
  }
  &__btn{
    background-color: #e44d3a;
    color: #efefef;
    padding: 0 20px;
    outline: none;
    border: none;
  }
}
