.homePage {
  padding: 60px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    transition: all .5s;

    &.active {
      opacity: 0;
    }
  }

  &__left {
    max-width: 260px;
    width: 100%;
  }

  &__center {
    max-width: 520px;
    width: 100%;
  }

  &__right {
    max-width: 260px;
    width: 100%;
  }
}
