.homePage {
  padding: 60px 0;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    transition: all .5s;

    &.active {
      opacity: 0;
    }
  }
    &__center {
      max-width: 600px;
      width: 100%;
    }

}
