.icon{
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover{
    span{
      color: #e44d3a;
    }
  }
  img{
    width: 14px;
    height: 14px;
    margin-right: 6px;
  }
  span{
    color: #b2b2b2;
    font-size: 14px;
    transition: all .5s;
  }
}
