.inputBox{
  position: relative;
  &__icon{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 12px;
    top: 10px
  }
  &__input{
    padding: 8px 15px 8px 40px;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    color: #b2b2b2;
    width: 100%;
    &::placeholder{
      color: #b2b2b2;
    }
  }
}
