html {
    box-sizing: border-box;

}

*, *::after, *::before {
    box-sizing: inherit;
}

ul[class], ol[class] {
    padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

a{
    text-decoration: none;
}



body{
    line-height: 1;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    font-weight: 400;
    background-color: #f2f2f2;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
h3{
    font-size: 16px;
    padding: 15px 20px;
}